{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'vw/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vw/css/tooplate-style.css' %}">
    <title>New Spot HTML Page by Tooplate</title>
    <!--

    Template 2107 New Spot

	http://www.tooplate.com/view/2107-new-spot

    -->
</head>

<body>
    <div class="tm-container mx-auto">

        <section id="tm-section-2" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Blog title : &nbsp;{{det.name}}</h2>
                        <p class="mb-4">{{det.date}}.</p>
                        <p class="mb-5">{{det.desc}}</p>
                        <p class="text-right mb-0">
                            <a href="/" class="btn tm-btn-secondary">Go Back</a>
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="{{det.img.url}}" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>


        <footer class="container">

        </footer>
    </div>
    <script src="{% static 'vw/js/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- https://github.com/cferdinandi/smooth-scroll -->
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            easing: 'easeInOutQuart',
            speed: 800
        });
    </script>
</body>
</html>
{% endblock %}